{{> adminheader admin=admin}}
{{> adminsidebar}}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Change Password</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                {{#if error}}
                  <div class="alert alert-danger">{{error}}</div>
                {{/if}}
                <form action="/admin/changepassword" method="POST">
                    <div class="mb-3">
                        <label for="oldPassword" class="form-label">Old Password</label>
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">confirm password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </section>
</main>
{{> adminfooter}}